<div style="margin-bottom: 4.5%;"></div>

<nav class="navbar navbar-expand-lg  bg-light  fixed-top">


    <div class="container-fluid   ">

<a   class=" btn btn-light  text-right col-1 text-warning"  routerLinkActive="Active"  routerLink=""   >LOGO </a>

<div  class=" bg-light col-3 " href=".."></div>
<a class=" btn btn-light">packeges</a>
<a class=" btn btn-light">conatct us </a>
<a class=" btn btn-light">language </a>
<a class=" btn btn-light">sign in </a>
<a class=" btn btn-light">sign up </a>
</div>
</nav>



